<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Shortly</title>
</head>
<body>
    <div class="Shortly">
        <h1 class="Shortly--Title">Paste the link of the website!</h1>
            
        <form class="Shortly--Form" id="form">
            <input class="Shortly--Input" type="text" placeholder="Username" id="input">
            <button type="submit" class="Shortly--Btn" id="submitbutton">Generate</button>
        </form>

        <a href="" class="Shortly--Link" id="link" target="_blank"></a>
    </div>

    <script src="../public/js/script.js"></script>
</body>
</html>